<h1 class="top">All Posts</h1>
<div class="all-posts">
  <% @posts[data_range(@page_num)].each do |post| %>
    <div class="post">
      <p>
        投稿ID
        <%= post.id %>
      </p>
      <p>
        タイトル
        <%= post.title %>
      </p>
      <p>
        投稿者
        <%# <%= User.find(post.user_id).name %> %>
      </p>
      <p>本文</p>
      <div class="body">
        <%= str_slice(post.body) %>
        <a href="/posts/<%= post.id %>">続きを読む</a>
      </div>
    </div>
  <% end %>
</div>
<div class="link">
  <% (1..total_page).each do |page_num| %>
    <% if page_num == @page_num %>
      <p class="link"><%= page_num %></p>
    <% else %>
      <a href="/posts/page/<%= page_num %>"><%= page_num %></a>
    <% end %>
  <% end %>
</div>
<footer>
  <div class="footer">
    <a href="/posts/new">投稿する</a>
  </div>
</footer>
